/* your custom css */

.fixedHeaderContainer {
  background-color: #000;
}
.projectTitle {
  color: #fff;
}

.homeContainer {
  background-image: url('/img/playriff2.jpg');
  padding: 2em 0;
  font-size: 1.2em;
  background-color: #333;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.imageAlignSide .blockImage {
  flex: none;
  padding: 3em;
  margin-left: 0;
  margin-right: 0;
}

.imageAlignRight .blockContent {
  padding-left: 2em;
}

.imageAlignLeft .blockContent {
  padding-right: 2em;
}

/*
embed video with:

<figure class="video-container">
  <iframe src="//www.youtube.com/embed/xxx" frameborder="0" allowfullscreen width="100%"></iframe>
</figure>

from https://github.com/facebook/flux/blob/abb5c0c43fa6d7c017ebef613776c3fd91db5d8d/website/src/css/custom.css
*/

.video-container {
  height: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gridBlock .blockImage img {
  max-width: 80%;
}

/* replace 'riff is for function' header text with 'is for function' since the logo is the word riff */
.headerTitleWithLogo {
	visibility: hidden;
	position: relative;
}
.headerTitleWithLogo:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: "is for functions";
}

.projectTitle {
  visibility: hidden;
}

/* futz with style to hack blog post on to the home page, this is a hack */
#try {
  padding-bottom: 0;
}
#blogTopPost .postContent {
  max-width: 800px;
  margin: auto;
}
#blogTopPost h1 a {
  font-size: 24px;
  color: #24292e;
}

/* navbar version dropdown */
.navGroups > .navGroup:first-of-type > .navGroupCategoryTitle {
  font-size: 15px;
  border-bottom:solid 1px #555;
}

/* hide weird v0.3 "previous" button on getting-started pages */
.docs-prev[href$="v0.3"] {
  display: none;
}