---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
  font-weight: 300;
}

.icon-image {
  max-width: 100px
}

.feature__wrapper .archive__item {
  text-align: center;
}

.feature__wrapper .archive__item-teaser img {
  width: 75%;
  max-width: 200px;
}

.feature__wrapper .archive__item-excerpt {
  margin-top: 1em;
  font-size: 0.8em;
}

.masthead {
  border: none;
}

.masthead__inner-wrap {
  padding: 0;
}

.greedy-nav__toggle {
  display: none;
}

.greedy-nav a {
  margin: 0 0.95rem;
}

div.highlighter-rouge:before, figure.highlight:before {
  content: none;
}

.page__content img {
  display:block;
  border: 1px solid #eee;
  margin: 0 auto;
}

.hide-excerpt :first-child {
  display: none !important;
}
