---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
  font-weight: 300;
}

.icon-image {
  max-width: 100px
}

.feature__wrapper .archive__item {
  text-align: center;
}

.feature__wrapper .archive__item-teaser img {
  width: 75%;
  max-width: 200px;
}

.feature__wrapper .archive__item-excerpt {
  margin-top: 1em;
  font-size: 0.8em;
}

.masthead {
  border: none;
}

.masthead__inner-wrap {
  padding: 0;
}

.greedy-nav__toggle {
  display: none;
}

.greedy-nav a {
  margin: 0 0.95rem;
}

div.highlighter-rouge:before, figure.highlight:before {
  content: none;
}

div.highlighter-rouge {
  background-color: #556;
}

.page__content img {
  display:block;
  border: 1px solid #eee;
  margin: 0 auto;
}

.hide-excerpt > :first-child {
  display: none !important;
}

.btn[data-clipboard-snippet] {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: white;

  opacity: 0;
  transition: opacity .3s ease-in-out;
}

pre.highlight:hover .btn[data-clipboard-snippet],
.btn[data-clipboard-snippet]:focus {
  opacity: 1;
}
