---
layout: single
---

{% assign invoker = page %}
{% assign release = invoker.releases | sort: 'date', 'last' | first %}
{% assign previous_releases = invoker.releases | sort: 'date', 'last' | slice: 1 %}

<div>{{ invoker.name }} by {{ invoker.author }}</div>
{% include invoker_release.html release=release %}
{% include invoker_release.html release=invoker.development %}
<div>
  {{ content }}
  <p>
    <a href="{{ invoker.href }}">Read more</a>
  </p>
</div>
{% if previous_releases != empty %}
  <h3>Previous releases</h3>
  {% for release in previous_releases %}
    {% include invoker_release.html release=release %}
  {% endfor %}
{% endif %}


